---
- name: Clonar una Maquina Virtual desde una Plantilla en vCenter
  hosts: localhost
  connection: local
  gather_facts: no

  # Variables para la conexion y la nueva VM
  vars:
    # Variables de Conexion (AWX Vault/Credenciales)
    vcenter_hostname: "{{ vcenter_host }}"
    vcenter_username: "{{ vcenter_user }}"
    vcenter_password: "{{ vcenter_pass }}"

    # Variables de Infraestructura de Destino
    datacenter_name: "MiDatacenter"       # Reemplaza con tu Datacenter
    cluster_name: "MiCluster"             # Reemplaza con tu Cluster

    # Variables de Clonacion
    vm_template_name: "Plantilla_CentOS_Base" # <<-- NOMBRE DE TU PLANTILLA BASE
    vm_name: "vm_clonada_ansible_02"          # Nombre de la nueva VM a crear
    vm_folder: "/Folder_Despliegues"          # Ruta del folder de destino (opcional)

  tasks:
    - name: 1. Clonar la Maquina Virtual desde la Plantilla
      community.vmware.vmware_vm:
        hostname: "{{ vcenter_hostname }}"
        username: "{{ vcenter_username }}"
        password: "{{ vcenter_password }}"
        validate_certs: false # Desactivar verificacion SSL (usar 'true' si tienes certificados validos)
        
        # Opciones de Infraestructura
        datacenter: "{{ datacenter_name }}"
        cluster: "{{ cluster_name }}"
        folder: "{{ vm_folder }}"
        
        # Opciones de Clonacion
        template: "{{ select_template | split(' - ')[0]  }}" # <<-- CLONAR DESDE ESTA PLANTILLA
        name: "{{ vm_name }}"
        state: present 
        
      delegate_to: localhost
      register: vm_clone_output

    - name: 2. Mostrar estado de la nueva VM
      ansible.builtin.debug:
        msg: "La VM '{{ vm_name }}' ha sido clonada exitosamente desde la plantilla '{{ vm_template_name }}'."